{% extends 'contracts/layout.html' %}

{% block page_title %}Design Contracts for Freelance Web Designers - Collection Letter{% endblock %}

{% block contracts_content %}
<h1>Collection Letter</h1>
<p>If you efforts to collect past due invoices using the <a href="/contracts/past-due-reminder">Past Due Reminder</a> have failed, consider using this Collection Letter. This letter is a final notice and the last direct communication with the client.
</p>

<div class="panel">
	<div class="row">
		<div class="eight columns">
			<h2>Download the "Collection Letter" Pack</h2>
		</div>
		<div class="four columns align-right">
			<p></p>
			<a href="/downloads/collection-letter.zip" class="small radius green button">Download</a>
		</div>
	</div>
</div>


<h2>Instructions on using a Past Due Reminder</h2>
<p>If your prior collection efforts fail, you should follow this schedule:
<ol>
	<li>Send the client this Collection Letter as a final notice.</li>
	<li>Send the letter by registered mail (or a method where the client must sign for it).</li>
	<li>If this fails to get payment, the last recourse is collections (either a Collection Agency, Attorney, or Small Claims).</li>
</ol>
</p>

<p>Collection agencies can charge from 25 to 40 percent of the money collected. An Attorney can bring a lawsuit (a collection agency cannot) and hourly fees may be more economical. If the amount due is under a few thousand dollars, small claims court may be a cheap and viable option. Your local court offices will provide information about filing a claim.</p>

<p>Again, be firm, yet fair when collecting payment. It may be wise to be flexible and accept a revised payment schedule, payment plan or other payment scheme.</p>

<br>
<h2>Collections Letter Template Form</h2>
<div class="form-box panel">
<div class="align-right"><p>
<em>[YOUR NAME]</em><br>
<em>[YOUR ADDRESS]</em><br>
<em>[YOUR TELEPHONE]</em><br>
<em>[YOUR FAX]</em><br>
<em>[YOUR EMAIL]</em></p></div>

<p>
<em>[DATE]</em><br>
<em>[CLIENT NAME]</em><br>
<em>[CLIENT TITLE]</em><br>
<em>[CLIENT COMPANY NAME]</em><br>
<em>[CLIENT COMPANY ADDRESS]</em></p>

<p><strong>Re: <em>[PROJECT REFERENCE -- JOB # or CLIENT # --]</em></strong><p>

<em>-- INSTRUCTION: Use a Project Reference that identifies the project or client. If the client is past due on a single project, reference the project title and job number. If the client is past due on multiple projects reference the clients name and their client number.  --</em>

<p><strong>This account is seriously past due. I have repeatedly requested payment. I have not received payment nor have I been provided an explanation.</strong></p>

<p><strong>Payment is due immediately. If payment is not received within <em>[DAYS]</em> days of this notice, I will send this account to collection. This process may result in additional legal and court costs and may damage your credit rating.</strong></p>

<p>It is not too late to contact me.</p>

<br>
<p>
<table width="100%">
	<tbody>
	<tr>
		<td>Designer Signature</td>
		<td>Print Designer Name</td>
	</tr>
	<tr class="line">
		<td>&nbsp;</td>
		<td>&nbsp;</td>
	</tr>
	</tbody>
</table>
</p>
</div>

<br>
<h2>Example Collections Letter</h2>
<div class="form-box panel">
<div class="align-right"><p>
Samus Samuelson<br>
512 Main St.<br>
Brea, CA 99999<br>
Tel: 555-123-7890<br>
Fax: 555-123-7891<br>
email@example.com</p></div>

<p>
August 25, 2012<br>
Beaufort Brimley<br>
Owner<br>
Fancy Meats Co.<br>
123 Fake St.<br>
Orange, CA 99999</p>

<p><strong>Re: Meat Packing Business Website, Job No. 00009</strong><p>

<p><strong>This account is seriously past due. I have repeatedly requested payment. I have not received payment nor have I been provided an explanation.</strong></p>

<p><strong>Payment is due immediately. If payment is not received within ten (10) days of this notice, I will send this account to collection. This process may result in additional legal and court costs and may damage your credit rating.</strong></p>

<p>It is not too late to contact me.</p>

<br>
<p>
<table width="100%">
	<tbody>
	<tr>
		<td>Designer Signature</td>
		<td>Print Designer Name</td>
	</tr>
	<tr class="line">
		<td>&nbsp;</td>
		<td>&nbsp;</td>
	</tr>
	</tbody>
</table>
</p>
</div>

<div class="panel">
	<div class="row">
		<div class="eight columns">
			<h2>Download the "Collection Letter" Pack</h2>
		</div>
		<div class="four columns align-right">
			<p></p>
			<a href="/downloads/collection-letter.zip" class="small radius green button">Download</a>
		</div>
	</div>
</div>
{% endblock %}