{% extends 'contracts/layout.html' %}

{% block page_title %}Web Design Contracts for Freelancers - All About Forms{% endblock %}

{% block contracts_content %}
<h1>Introduction To Form Documents</h1>
<p>This guide contains form and example documents essential to any web design business. The available documents are listed below. </p>

<p>
	<h2>To Complete the Form</h2>
	<ol>
		<li>Download the Form Pack for the document you need, and follow the included instructions.</li>
		<li>Replace the bracketed placeholders ( <em style="font-weight:bold; font-family:Times;">[PLACEHOLDER]</em> ) with your information.</li>
		<li>Follow any instructions ( <em style="font-weight:bold; font-family:Times;">-- INSTRUCTION: included instruction. --</em> ) included in the form.</li>
		<li>Use the example documents are a reference for creating your own document.</li>
		<li>Print and Enjoy!</li>
	</ol>
</p>

<h2>List of Available Form Documents</h2>
<table>
	<thead>
		<tr width="75%">
			<th>Description</th>
			<th>&nbsp;</th>
		</tr>
	</thead>
	<tbody>
	<tr>
		<td width="75%">
			<h3>Letter of Agreement</h3>
			<p>Use for quick jobs or where a client wouldn't like a long contract.</p>
		</td>
		<td>
			<p></p>
			<a href="/contracts/letter-of-agreement" class="nice small radius white button">View Document</a><br>
		</td>
	</tr>
	<tr>
		<td width="75%">
			<h3>Project Proposal</h3>
			<p>Explains project essentials such as scope, milestones, timeline and fees. Use with either the <a href="/contracts/full-terms-and-conditions">Full Terms & Conditions</a> or <a href="/contracts/condensed-terms-and-conditions">Condensed Terms & Conditions</a>.</p>
		</td>
		<td>
			<p></p>
			<a href="/contracts/project-proposal" class="nice small radius white button">View Document</a>
		</td>
	</tr>
	<tr>
		<td width="75%">
			<h3>Full Terms & Conditions</h3>
			<p>Protect yourself the best you can using a comprehensive set of terms and conditions. Use with the <a href="/contracts/project-proposal">Project Proposal</a>.</p>
		</td>
		<td>
			<p></p>
			<a href="/contracts/full-terms-and-conditions" class="nice small radius white button">View Document</a>
		</td>
	</tr>
	<tr>
		<td width="75%">
			<h3>Condensed Terms & Conditions</h3>
			<p>Where you need brevity and protection, use this condensed set of terms and conditions. Use with the <a href="/contracts/project-proposal">Project Proposal</a>.</p>
		</td>
		<td>
			<p></p>
			<a href="/contracts/condensed-terms-and-conditions" class="nice small radius white button">View Document</a>
		</td>
	</tr>
	<tr>
		<td width="75%">
			<h3>Invoice</h3>
			<p>You can't get paid unless you send a bill. Send an invoice and get paid.</p>
		</td>
		<td>
			<p></p>
			<a href="/contracts/invoice" class="nice small radius white button">View Document</a>
		</td>
	</tr>
	<tr>
		<td width="75%">
			<h3>Past Due Reminder</h3>
			<p>Have slow or absent-minded clients? Send them a friendly reminder that you enjoy being paid.</p>
		</td>
		<td>
			<p></p>
			<a href="/contracts/past-due-reminder" class="nice small radius white button">View Document</a>
		</td>
	</tr>
	<tr>
		<td width="75%">
			<h3>Collections Letter</h3>
			<p>Client still not cooperating? Send them a firmly worded letter showing that you mean business.</p>
		</td>
		<td>
			<p></p>
			<a href="/contracts/collection-letter" class="nice small radius white button">View Document</a>
		</td>
	</tr>
	</tbody>
</table>

<div class="panel">
	<div class="row">
		<div class="eight columns">
			<h2>Download the Entire Form Pack Collection</h2>
		</div>
		<div class="four columns align-right">
			<p></p>
			<a href="/downloads/Design-Contracts-for Freelance-Web-Designers.zip" class="small radius green button">Download</a>
		</div>
	</div>
</div>
{% endblock %}