{% extends 'contracts/layout.html' %}

{% block page_title %}Web Design Contracts for Freelancers - Invoice{% endblock %}

{% block contracts_content %}
<h1>Invoice</h1>
<p>Invoicing, its how you get paid. Knowing that clients can fall behind on payment quickly, it is important that you invoice quickly and regularly. Ideally, your invoicing and payment schedule is clearly outlined in your design contract with the client. Even the smallest jobs can use some payment schedule. At a minimum, get an advance payment for some percentage of the total bill before you start work.</p>

<div class="panel">
	<div class="row">
		<div class="eight columns">
			<h2>Download the "Invoice" Pack</h2>
		</div>
		<div class="four columns align-right">
			<p></p>
			<a href="/downloads/invoice.zip" class="small radius green button">Download</a>
		</div>
	</div>
</div>

<h2>Instructions on using an Invoice</h2>
<p>Fill in the invoice by providing a short description of the work done and the total amount due for that work. There is no need to itemize every dollar due. Provide separate line items for reimbursable expenses. The easies way to write the invoice description is to use the milestone description from your <a href="/contracts/project-proposal">Project Proposal</a> or <a href="contracts/letter-of-agreement">Letter of Agreement</a>, assuming your schedule of payment is tied to milestones (which it should be).</p>

<p>You should include a "Terms" section that restates the payment terms from your <a href="/contracts/project-proposal">Project Proposal</a> or <a href="contracts/letter-of-agreement">Letter of Agreement</a>. "Upon Receipt", "Net 30 Days", or "Net 15 Days" are typical payment terms.</p>

<br>
<h2>Invoice Form</h2>
<div class="form-box panel">
<div class="align-right"><p>
<em>[YOUR NAME]</em><br>
<em>[YOUR ADDRESS]</em><br>
<em>[YOUR TELEPHONE]</em><br>
<em>[YOUR FAX]</em><br>
<em>[YOUR EMAIL]</em></p></div>

<p>
<em>[DATE]</em><br>
<em>[CLIENT NAME]</em><br>
<em>[CLIENT TITLE]</em><br>
<em>[CLIENT COMPANY NAME]</em><br>
<em>[CLIENT COMPANY ADDRESS]</em></p>

<p><strong>Re: <em>[PROJECT TITLE]</em>, <em>[JOB NUMBER / CHANGE ORDER NUMBER]</em></strong><p>

<em>-- INSTRUCTION: Use the Project Title from your Project Proposal or your Letter of Agreement. Reference the job number from your Project Proposal or your Letter of Agreement, or the Change Order number if you used a change order.  --</em>

<p><strong>Invoice: <em>[INVOICE NUMBER]</em>, <em>[INVOICE DESCRIPTION]</em></strong><p>

<em>-- INSTRUCTION: Number your invoices to keep track of them for billing purposes. The invoice description should be the milestone description from your Project Proposal or Letter of Agreement, assuming your schedule of payment is tied to milestones.  --</em>

<table width="100%">
	<tr class="line">
		<td width="85%" class="align-center"><strong>Description</strong></td>
		<td class="align-center"><strong>Amount</strong></td>
	</tr>
	<tr class="line">
		<td>&nbsp;</td>
		<td>&nbsp;</td>
	</tr>
	<tr class="line">
		<td>&nbsp;</td>
		<td>&nbsp;</td>
	</tr>
	<tr class="line">
		<td>&nbsp;</td>
		<td>&nbsp;</td>
	</tr>
	<tr class="line">
		<td>&nbsp;</td>
		<td>&nbsp;</td>
	</tr>
	<tr class="line">
		<td>&nbsp;</td>
		<td>&nbsp;</td>
	</tr>
	<tr>
		<td class="align-right">Subtotal:</td>
		<td class="line">&nbsp;</td>
	</tr>
	<tr>
		<td class="align-right">Tax:</td>
		<td class="line">&nbsp;</td>
	</tr>
	<tr>
		<td class="align-right" >Total:</td>
		<td class="line">&nbsp;</td>
	</tr>
</table>

	
<br>
<br>
<p><strong>Terms: </strong><em>[PAYMENT TERMS]</em></p>

<br>
<p>
<table width="100%">
	<tbody>
	<tr>
		<td>Designer Signature</td>
		<td>Print Designer Name</td>
	</tr>
	<tr class="line">
		<td>&nbsp;</td>
		<td>&nbsp;</td>
	</tr>
	</tbody>
</table>
</p>
</div>

<br>
<h2>Example Invoice</h2>
<div class="form-box panel">
<div class="align-right"><p>
Samus Samuelson<br>
512 Main St.<br>
Brea, CA 99999<br>
Tel: 555-123-7890<br>
Fax: 555-123-7891<br>
email@example.com</p></div>

<p>
June 2, 2012<br>
Beaufort Brimley<br>
Owner<br>
Fancy Meats Co.<br>
123 Fake St.<br>
Orange, CA 99999</p>

<p><strong>Re: Meat Packing Business Website, Job No. 00009</strong><br>
<strong>Invoice: #00001, Preliminary Design</strong><p>

<table width="100%">
	<tr class="line">
		<td width="85%" class="align-center"><strong>Description</strong></td>
		<td class="align-center"><strong>Amount</strong></td>
	</tr>
	<tr class="line">
		<td>Preliminary Design</td>
		<td>$1,250</td>
	</tr>
	<tr>
		<td class="align-right">Subtotal:</td>
		<td class="line">$1,250</td>
	</tr>
	<tr>
		<td class="align-right">Tax:</td>
		<td class="line">$0</td>
	</tr>
	<tr>
		<td class="align-right" >Total:</td>
		<td class="line">$1,250</td>
	</tr>
</table>

	
<br>
<br>
<p><strong>Terms: </strong>Payment due Net Thirty (30) days from date of this invoice.</p>

<br>
<p>
<table width="100%">
	<tbody>
	<tr>
		<td>Designer Signature</td>
		<td>Print Designer Name</td>
	</tr>
	<tr class="line">
		<td>&nbsp;</td>
		<td>&nbsp;</td>
	</tr>
	</tbody>
</table>
</p>
</div>

<div class="panel">
	<div class="row">
		<div class="eight columns">
			<h2>Download the "Invoice" Pack</h2>
		</div>
		<div class="four columns align-right">
			<p></p>
			<a href="/downloads/invoice.zip" class="small radius green button">Download</a>
		</div>
	</div>
</div>
{% endblock %}