{% extends 'contracts/layout.html' %}

{% block page_title %}Web Design Contracts for Freelancers - Letter of Agreement{% endblock %}

{% block contracts_content %}
<h1>Letter of Agreement</h1>
<p>The next time a client comes to you with a quick job, save yourself time and aggravation by sending them a quick Letter of Agreement to be signed BEFORE you start working. The letter is basically an abbreviated contract confirming the scope of the job, the schedule, fees to paid and essential terms and conditions. Use this style of contract for quick jobs or where a full-blown contract would make the client apprehensive.</p>

<div class="panel">
	<div class="row">
		<div class="eight columns">
			<h2>Download the "Letter of Agreement" Pack</h2>
		</div>
		<div class="four columns align-right">
			<p></p>
			<a href="/downloads/letter-of-agreement.zip" class="small radius green button">Download</a>
		</div>
	</div>
</div>


<h2>Instructions on using a Letter of Agreement</h2>
<p>This Letter of Agreement is like a standard business letter, except that it requires a reply. Use this format or your own letterhead.</p>

<p>	
	<h4>Explanations of Copyright Usage</h4>
	<ol>
		<li><strong>Exclusive v. Non-Exclusive Use:</strong> Exclusive means that this is the only client that can use this work. Non-Exclusive means that you can license this work to other clients.</li>
		<li><strong>Duration of Use:</strong> How long does the license last (1 year, 5 years, unlimited, etc.)?</li>
		<li><strong>Geographic Territory:</strong> Where in the world does this license apply (North America, Worldwide, etc.)?</li>
		<li><strong>Medium of Use:</strong> On what medium does this license apply (electronic only, print, etc.)?</li>
		<li><strong>Category of Use:</strong> Where specifically does this license apply (this website, online advertising, etc.)?</li>
		<em>* This is not an exhaustive list. Consult an Attorney if you need more detailed license rights.</em>
	</ol>
</p>

<p>
	<strong>NOTE:</strong> Be sure to send this to your client AND get it back before starting work!
</p>

<br>
<h2>Letter of Agreement Template Form</h2>
<div class="form-box panel">
<div class="align-right"><p>
<em>[YOUR NAME]</em><br>
<em>[YOUR ADDRESS]</em><br>
<em>[YOUR TELEPHONE]</em><br>
<em>[YOUR FAX]</em><br>
<em>[YOUR EMAIL]</em></p></div>

<p>
<em>[DATE]</em><br>
<em>[CLIENT NAME]</em><br>
<em>[CLIENT TITLE]</em><br>
<em>[CLIENT COMPANY NAME]</em><br>
<em>[CLIENT COMPANY ADDRESS]</em></p>

<div class="align-center"><p><strong>Confirmation of Engagement</strong><br>
<strong>Job No.:</strong> <em>[JOB NUMBER]</em></p></div>

<p><strong>Project Title/Description:</strong> <em><em>[TITLE]</em></em><br>
<em>[PROJECT DESCRIPTION]</em></p>

<p><strong>Schedule: Preliminary Designs:</strong> <em>[DATE]</em>, <strong>Final Design:</strong> <em>[DATE]</em></p>

<p><strong>Copyright Usage:</strong> The rights granted to Client are for the usage of the Final Design in its original form only. Client may not modify the Final Design. License: <em>[EXCLUSIVE / NON_EXCLUSIVE USE]</em>, <em>[DURATION OF USE]</em>, <em>[GEOGRAPHIC TERRITORY]</em>, <em>[MEDIUM OF USE]</em>, <em>[CATEGORY OF USE]</em>. All other rights to be negotiated separately.</p>

<p><strong>Fee:</strong> <em>[FEES]</em></p>

<strong>TERMS</strong>
<ol>
	<li><strong>Reservation of Rights:</strong> All rights not expressly granted above are retained by the Designer. Any use additional to that expressly granted above requires arrangement for payment of a separate fee.</li>
	<li><strong>Revisions:</strong> Revisions may be made only by the Designer at the Preliminary Design phase. Additional fees will be charged for revisions made after <em>[NUMBER OF REVISIONS]</em> preliminary design revisions, and for additions to project scope.</li>
	<li><strong>Payment Schedule:</strong> <em>[UP-FRONT FEE]</em> upon project commencement, remaining upon project completion.</li>
	<li><strong>Payment Terms:</strong>  Payment due <em>[NET30 / NET15]</em> days from issuance of invoice. A one and one half (1.5%) monthly service charge will be billed against late payments. Grant of copyright is conditioned upon receipt of final payment, and upon Client's compliance with the terms of this agreement.</li>
	<li><strong>Cancellation Fees:</strong> In the event of Cancellation, Designer will be compensated for services performed through the date of cancelation in the amount of a prorated portion of the fees due. Upon cancellation all rights to the website revert to the Designer and all original art must be returned, including sketches, comps, or other preliminary materials.</li>
	<li><strong>Credits and Promotion:</strong> A credit line suitable to the design of the pages will be used. Client agrees to pay an additional fifty percent (50%) of the total fee, excluding expenses, for failure to include credit line. Designer reserves the right to include screen shots of the completed work in his portfolio.</li>
	<li><strong>Preliminary Works:</strong> Designer retains all rights in and to all Preliminary Designs. Client shall return all Preliminary Designs to Designer within thirty (30) days of completion of the project and all rights in and to any Preliminary Designs shall remain the exclusive property of Designer.</li>
	<li><strong>Permissions and Releases:</strong> The Client agrees to indemnify and hold the Designer harmless against any and all claims, costs, and expenses, including attorney's fees, due to materials included in the Design at the request of the Client for which no copyright permission or privacy release was requested, or for which uses exceed the uses allowed pursuant to a permission or release.</li>
	<li><strong>Miscellaneous:</strong> This Agreement shall be binding upon the parties, their heirs, successors, assigns, and personal representatives. This Agreement constitutes the entire understanding of the parties. Its terms can be modified only by a writing signed by both parties, except that the Client may authorize expenses or revisions orally. Any dispute arising out of this agreement will be resolved by negotiation between the parties. If they are unable to resolve the dispute, either party may commence mediation and/or binding arbitration through the American Arbitration Association. A waiver of a breach of any of the provisions of this Agreement shall not be construed as a continuing waiver of other breaches of the same or other provisions. This Agreement shall be governed by the laws of the State of California and courts of such state shall have exclusive jurisdiction and venue.</li>
</ol>

<p><strong>This Agreement must be signed and returned before Designer can schedule or begin this job.</strong><p>

<p>
<table width="100%">
	<tbody>
	<tr>
		<td>Designer Signature</td>
		<td>Print Designer Name</td>
		<td>Date</td>
	</tr>
	<tr class="line">
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
	</tr>
	<tr>
		<td>Client Signature</td>
		<td>Print Client Name</td>
		<td>Date</td>
	</tr>
	<tr class="line">
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
	</tr>
	</tbody>
</table>
</p>
</div>

<br>
<h2>Example Letter of Agreement</h2>
<div class="form-box panel">
<div class="align-right"><p>
Samus Samuelson<br>
512 Main St.<br>
Brea, CA 99999<br>
Tel: 555-123-7890<br>
Fax: 555-123-7891<br>
email@example.com</p></div>

<p>
April 25, 2012<br>
Beaufort Brimley<br>
Owner<br>
Fancy Meats Co.<br>
123 Fake St.<br>
Orange, CA 99999</p>

<div class="align-center"><p><strong>Confirmation of Engagement</strong><br>
<strong>Job No.:</strong> 00009</p></div>

<p><strong>Project Title/Description:</strong> Meat Packing Business Website<br>
5 page design (Home, About, Contact, Services, Profile), Works on all modern browsers (IE9+, Latest build of FF, Chrome and Safari). No mobile support.</p>

<p><strong>Schedule: Preliminary Designs:</strong> 06/01/2012, <strong>Final Design:</strong> 07/01/2012</p>

<p><strong>Copyright Usage:</strong> The rights granted to Client are for the usage of the Final Design in its original form only. Client may not modify the Final Design. Client shall have: Nonexclusive rights, unlimited duration, worldwide, electronic use, this website only.</p>

<p><strong>Fee:</strong> $2,500</p>

<strong>TERMS</strong>
<ol>
	<li><strong>Reservation of Rights:</strong> All rights not expressly granted above are retained by the Designer. Any use additional to that expressly granted above requires arrangement for payment of a separate fee.</li>
	<li><strong>Revisions:</strong> Revisions may be made only by the Designer at the Preliminary Design phase. Additional fees will be charged for revisions made after three (3) preliminary design revisions, and for additions to project scope.</li>
	<li><strong>Payment Schedule:</strong> Fifty percent (50%) upon project commencement, remaining upon project completion.</li>
	<li><strong>Payment Terms:</strong>  Payment due Net Thirty (30) days from issuance of invoice. A one and one half percent (1.5%) monthly service charge will be billed against late payments. Grant of copyright is conditioned upon receipt of final payment, and upon Client's compliance with the terms of this agreement.</li>
	<li><strong>Cancellation Fees:</strong> In the event of Cancellation, Designer will be compensated for services performed through the date of cancelation in the amount of a prorated portion of the fees due. Upon cancellation all rights to the website revert to the Designer and all original art must be returned, including sketches, comps, or other preliminary materials.</li>
	<li><strong>Credits and Promotion:</strong> A credit line suitable to the design of the pages will be used. Client agrees to pay an additional fifty percent (50%) of the total fee, excluding expenses, for failure to include credit line. Designer reserves the right to include screen shots of the completed work in his portfolio.</li>
	<li><strong>Preliminary Works:</strong> Designer retains all rights in and to all Preliminary Designs. Client shall return all Preliminary Designs to Designer within thirty (30) days of completion of the project and all rights in and to any Preliminary Designs shall remain the exclusive property of Designer.</li>
	<li><strong>Permissions and Releases:</strong> The Client agrees to indemnify and hold the Designer harmless against any and all claims, costs, and expenses, including attorney's fees, due to materials included in the Design at the request of the Client for which no copyright permission or privacy release was requested, or for which uses exceed the uses allowed pursuant to a permission or release.</li>
	<li><strong>Miscellaneous:</strong> This Agreement shall be binding upon the parties, their heirs, successors, assigns, and personal representatives. This Agreement constitutes the entire understanding of the parties. Its terms can be modified only by a writing signed by both parties, except that the Client may authorize expenses or revisions orally. Any dispute arising out of this agreement will be resolved by negotiation between the parties. If they are unable to resolve the dispute, either party may commence mediation and/or binding arbitration through the American Arbitration Association. A waiver of a breach of any of the provisions of this Agreement shall not be construed as a continuing waiver of other breaches of the same or other provisions. This Agreement shall be governed by the laws of the State of California and courts of such state shall have exclusive jurisdiction and venue.</li>
</ol>

<p><strong>This Agreement must be signed and returned before Designer can schedule or begin this job.</strong><p>

<p>
<table width="100%">
	<tbody>
	<tr>
		<td>Designer Signature</td>
		<td>Print Designer Name</td>
		<td>Date</td>
	</tr>
	<tr class="line">
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
	</tr>
	<tr>
		<td>Client Signature</td>
		<td>Print Client Name</td>
		<td>Date</td>
	</tr>
	<tr class="line">
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
	</tr>
	</tbody>
</table>
</p>
</div>

<br>
<div class="panel">
	<div class="row">
		<div class="eight columns">
			<h2>Download the "Letter of Agreement" Pack</h2>
		</div>
		<div class="four columns align-right">
			<p></p>
			<a href="/downloads/letter-of-agreement.zip" class="small radius green button">Download</a>
		</div>
	</div>
</div>
{% endblock %}