{% extends 'contracts/layout.html' %}

{% block page_title %}Web Design Contracts for Freelancers - Negotiation{% endblock %}

{% block contracts_content %}
<h1>Negotiation: An Agreement, Not a Fight.</h1>
<p>All contracts, whether your contract, contracts in this guide, or some-one else's contract can be changed. Any provision in a contract can be removed or any provision added. At the same time, knowing why a provision is included and what it accomplishes helps you define your business process and helps you negotiate.</p>

<p>Every contract requires negotiation whether it be as simple such as determining the scope of work or more complicated copyright issues. Negotiation does not need to be a fight. When both parties have something valuable to offer, both parties can be winners. Your best tool in negotiation is knowing what is absolutely essential and what can be compromised.</p>

<p>This guide provides many examples and explanations of common contract clauses to help you improve your negotiation position and to craft a contract that suits your needs.</p>

<div class="align-right">
	<a href="/contracts/signing" class="medium radius white button">Next: 5. Get That Contract Signed.</a>
</div>
{% endblock %}