{% extends 'contracts/layout.html' %}

{% block page_title %}Design Contracts for Freelance Web Designers - Past Due Reminder{% endblock %}

{% block contracts_content %}
<h1>Past Due Reminder</h1>
<p>There is no way to reliably ensure a client pays on time. However, once an invoice is past due you should send a Past Due Reminder. This letter to the client is a gentle reminder to please pay promptly.
</p>

<div class="panel">
	<div class="row">
		<div class="eight columns">
			<h2>Download the "Past Due Reminder" Pack</h2>
		</div>
		<div class="four columns align-right">
			<p></p>
			<a href="/downloads/past-due-notice.zip" class="small radius green button">Download</a>
		</div>
	</div>
</div>


<h2>Instructions on using a Past Due Reminder</h2>
<p>Once an invoice is past due you should follow the following schedule:
<ol>
	<li>Contact the client by phone or email and mention a possible oversight of payment.</li>
	<li>If no payment after a short time, Send the client a Past Due Reminder.</li>
	<li>Again, if no payment after a short time, send another Past Due Reminder marked "Second Notice".</li>
	<li>Yet again, if no payment after a short time, use your best judgement and send "Third Notice" if needed.</li>
	<li>If that does not work, send a much stronger <a href="/contracts/collection-letter">Collection Letter</a>.</li>
</ol>
</p>

<p>Just as important as it is for the client to pay on time, it is important for you to invoice on time. Ideally, your invoicing and payment schedule is clearly outlined in your design contract with the client. Hopefully, both you and your client diligently follow the schedules. If the client falls behind, be firm, but fair when collecting payment. It may be wise to be flexible and accept a revised payment schedule ,payment plan or other payment scheme.</p>

<br>
<h2>Past Due Reminder Template Form</h2>
<div class="form-box panel">
<div class="align-right"><p>
<em>[YOUR NAME]</em><br>
<em>[YOUR ADDRESS]</em><br>
<em>[YOUR TELEPHONE]</em><br>
<em>[YOUR FAX]</em><br>
<em>[YOUR EMAIL]</em></p></div>

<p>
<em>[DATE]</em><br>
<em>[CLIENT NAME]</em><br>
<em>[CLIENT TITLE]</em><br>
<em>[CLIENT COMPANY NAME]</em><br>
<em>[CLIENT COMPANY ADDRESS]</em></p>

<p><strong>Re: <em>[PROJECT REFERENCE -- JOB # or CLIENT # --]</em></strong><p>

<em>-- INSTRUCTION: Use a Project Reference that identifies the project or client. If the client is past due on a single project, reference the project title and job number. If the client is past due on multiple projects reference the clients name and their client number.  --</em>

<p>As of the date of this reminder, we have not received payment for the following invoices:</p>

<table width="100%">
	<tbody>
		<tr class="line">
			<td class="align-center"><strong>Invoice Date</strong></td>
			<td class="align-center"><strong>Invoice Number</strong></td>
			<td class="align-center"><strong>Amount Due</strong></td>
			<td class="align-center"><strong>Service Fee</strong></td>
		</tr>
		<tr class="line">
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
		</tr>
		<tr class="line">
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
		</tr>
		<tr class="line">
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td class="align-right"><strong>Total Due:</strong></td>
			<td class="line">&nbsp;</td>
		</tr>
	</tbody>
</table>

<br>
<br>
<p>I would appreciate your prompt attention and payment. Please contact me if you have any questions about this reminder. Note: Invoices not paid according to terms are subject to a one and one half percent (1.5%) service fee.</p>

<br>
<p>
<table width="100%">
	<tbody>
	<tr>
		<td>Designer Signature</td>
		<td>Print Designer Name</td>
	</tr>
	<tr class="line">
		<td>&nbsp;</td>
		<td>&nbsp;</td>
	</tr>
	</tbody>
</table>
</p>
</div>

<br>
<h2>Example Past Due Reminder</h2>
<div class="form-box panel">
<div class="align-right"><p>
Samus Samuelson<br>
512 Main St.<br>
Brea, CA 99999<br>
Tel: 555-123-7890<br>
Fax: 555-123-7891<br>
email@example.com</p></div>

<p>
May 25, 2012<br>
Beaufort Brimley<br>
Owner<br>
Fancy Meats Co.<br>
123 Fake St.<br>
Orange, CA 99999</p>

<p><strong>Re: Meat Packing Business Website, Job No. 00009</strong><p>

<p>As of the date of this reminder, we have not received payment for the following invoices:</p>

<table width="100%">
	<tbody>
		<tr class="line">
			<td class="align-center"><strong>Invoice Date</strong></td>
			<td class="align-center"><strong>Invoice Number</strong></td>
			<td class="align-center"><strong>Amount Due</strong></td>
			<td class="align-center"><strong>Service Fee</strong></td>
		</tr>
		<tr class="line">
			<td>06/01/2012</td>
			<td>00001</td>
			<td>$1,250</td>
			<td>$18.75</td>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td class="align-right"><strong>Total Due:</strong></td>
			<td class="line">$1,268.75</td>
		</tr>
	</tbody>
</table>

<br>
<br>
<p>I would appreciate your prompt attention and payment. Please contact me if you have any questions about this reminder. Note: Invoices not paid according to terms are subject to a one and one half percent (1.5%) service fee.</p>

<br>
<p>
<table width="100%">
	<tbody>
	<tr>
		<td>Designer Signature</td>
		<td>Print Designer Name</td>
	</tr>
	<tr class="line">
		<td>&nbsp;</td>
		<td>&nbsp;</td>
	</tr>
	</tbody>
</table>
</p>
</div>

<div class="panel">
	<div class="row">
		<div class="eight columns">
			<h2>Download the "Past Due Reminder" Pack</h2>
		</div>
		<div class="four columns align-right">
			<p></p>
			<a href="/downloads/past-due-notice.zip" class="small radius green button">Download</a>
		</div>
	</div>
</div>
{% endblock %}