{% extends 'contracts/layout.html' %}

{% block page_title %}Web Design Contracts for Freelancers - Project Proposal{% endblock %}

{% block contracts_content %}
<h1>Project Proposal</h1>
<p>A written proposal can make a lasting impression on a client and should be used frequently. Proposals include specific details which vary quite a bit based on the individual project. However, there is a fairly standard structure for the proposal document itself. Most proposal documents follow a fairly standard structure, though specific structure can vary based on the individual project and designer. Most proposal documents include:</p>

<ol>
<li>A description of the scope of work and specific objectives for this project, meaning need that must be met and the targets that must be hit.</li>
<li>Your work process including descriptions of your design phases, milestones, sequence of steps, deliverables, number of comps, included revisions, timeframes, client responsibilities, format for delivery, etc.</li>
<li>A schedule of fees, taxes, total fees and expenses, recap of the milestones and total timeframe.</li>
<li>A schedule of billing, detailing invoice amounts and when they happen during the project.</li>
<li>Chose either the <a href="/contracts/full-terms-and-conditions">Full Terms & Conditions</a> or <a href="/contracts/condensed-terms-and-conditions">Condensed Terms & Conditions</a>.</li>
<li>Signature lines.</li>
</ol>

<p>It’s also a good idea to include a line inviting the client to follow-up with you and to show a willingness to revise or negotiate the scope of work, if needed.</p>

<div class="panel">
	<div class="row">
		<div class="eight columns">
			<h2>Download the "Project Proposal" Pack</h2>
		</div>
		<div class="four columns align-right">
			<p></p>
			<a href="/downloads/project-proposal.zip" class="medium radius green button">Download</a>
		</div>
	</div>
</div>

<h2>Instructions on using a Project Proposal</h2>
<p>The Scope of Work should include an introductory paragraph summarizing what is to be done. The rest of the Scope of Work should describe the phases and milestones of project development. If the client is not familiar with the design process, include an explanation of what you are doing at each phase and when the client will be given materials. Be as specific as possible when describing the project. Include detailed information about the nature and number of deliverables. Describe the project well enough to accurately convey the complexity of the proposed project.</p>

<p>Design work is typically billed in phases. For a flat-fee project, it may be best to break the fee out by design phase. It will be easier to collect fee for work completed, if the project is canceled.</p>

<p>Include either the <a href="/contracts/full-terms-and-conditions">Full Terms & Conditions</a> or <a href="/contracts/condensed-terms-and-conditions">Condensed Terms & Conditions</a>.</p>

<p>Include a cover letter, on your letterhead, when presenting a client with a Project Proposal. In it, mention the source of your contact, your availability and time constraints, and invite further discussion of the proposal. Keep it short and sweet.

<blockquote>"Dear [Potential Client],<br><br>[Contact], a friend of yours, recommended that I contact you about building a website for your business. [Contact] as explained the nature of your business and its website needs. I believe I can help. Please review the attached project proposal and feel free to contact me if you wish to discuss this project further.<br><br>Thank You,<br>Signed [Designer].</blockquote>

</p>

<br>
<h2>Project Proposal Template Form</h2>
<div class="form-box panel">
	<div class="align-right">Project Proposal #[JOB NUMBER], [DATE]</div>
	<br>
	<br>
	<br>
	<br>
	<br>
	<em>[YOUR NAME]</em><br>
	<br>
	<em>[PROJECT TITLE]</em><br>
	<br>
	<div class="row">
		<div class="six columns">
			<p>Prepared For:</p>
			<p><em>[DATE]</em><br>
			<em>[CLIENT NAME]</em><br>
			<em>[CLIENT TITLE]</em><br>
			<em>[CLIENT COMPANY NAME]</em><br>
			<em>[CLIENT COMPANY ADDRESS]</em></p>
		</div>
		<div class="six columns">
			<p>Prepared By:</p>
			<p><em>[YOUR NAME]</em><br>
			<em>[YOUR ADDRESS]</em><br>
			<em>[YOUR TELEPHONE]</em><br>
			<em>[YOUR FAX]</em><br>
			<em>[YOUR EMAIL]</em></p>
		</div>
	</div>
	
	<hr>
	<div class="align-center">PAGE BREAK</div>
	<hr>
	
	<div class="align-right">Project Proposal #[JOB NUMBER], [DATE]</div>
	<br>
	<h2>Scope of Work</h2>
	[SCOPE OF WORK]
		
	<hr>
	<div class="align-center">PAGE BREAK</div>
	<hr>
	
	<div class="align-right">Project Proposal #[JOB NUMBER], [DATE]</div>
	<br>
	<h2>Work Plan & Milestones</h2>
	<p>The table below outlines the work process phases, milestones, due dates, deliverables and fees needed to complete this project. This four phase process begins at the concept phase where everything is planned, then the design phase where look and feel (artwork) is produced, next is the technical phase where design is given life, and finally the testing phase where everything is thoroughly tested and reviewed. This process is designed to ensure project efficiency and your complete satisfaction.</p>
		
	<table width="100%">
		<tr>
			<td colspan="5">
				<h2>Concept Phase</h2>
			</td>
		</tr>
		<tr class="line">
			<td class="align-center"><strong>Milestone</strong></td>
			<td class="align-center"><strong>Due Date</strong></td>
			<td class="align-center"><strong>Deliverables</strong></td>
			<td class="align-center"><strong>Fee</strong></td>
		</tr>
		<tr class="line">
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
		</tr>
		<tr class="line">
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td colspan="4">
				<h2>Design Phase</h2>
			</td>
		</tr>
		<tr class="line">
			<td class="align-center"><strong>Milestone</strong></td>
			<td class="align-center"><strong>Due Date</strong></td>
			<td class="align-center"><strong>Deliverables</strong></td>
			<td class="align-center"><strong>Fee</strong></td>
		</tr>
		<tr class="line">
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
		</tr>
		<tr class="line">
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td colspan="4">
				<h2>Technical Phase</h2>
			</td>
		</tr>
		<tr class="line">
			<td class="align-center"><strong>Milestone</strong></td>
			<td class="align-center"><strong>Due Date</strong></td>
			<td class="align-center"><strong>Deliverables</strong></td>
			<td class="align-center"><strong>Fee</strong></td>
		</tr>
		<tr class="line">
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
		</tr>
		<tr class="line">
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td colspan="4">
				<h2>Test Phase</h2>
			</td>
		</tr>
		<tr class="line">
			<td class="align-center"><strong>Milestone</strong></td>
			<td class="align-center"><strong>Due Date</strong></td>
			<td class="align-center"><strong>Deliverables</strong></td>
			<td class="align-center"><strong>Fee</strong></td>
		</tr>
		<tr class="line">
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
		</tr>
		<tr class="line">
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td class="align-right" >Total:</td>
			<td class="line">&nbsp;</td>
		</tr>
	</table>
		
	<hr>
	<div class="align-center">PAGE BREAK</div>
	<hr>
	
	<div class="align-right">Project Proposal #[JOB NUMBER], [DATE]</div>
	<br>
	<h2>Detail</h2>
	<p>Thank you for this opportunity. If you have any questions or concerns regarding this project proposal or included terms & conditions, please don't hesitate to call <em>[PHONE].</em></p>
	
	<table width="100%">
		<tr>
			<td colspan="2">
				<h2>Concept Elements</h2>
			</td>
		</tr>
		<tr class="line">
			<td width="85%" class="align-center"><strong>Description</strong></td>
			<td class="align-center"><strong>Fee</strong></td>
		</tr>
		<tr class="line">
			<td>&nbsp;</td>
			<td>&nbsp;</td>
		</tr>
		<tr class="line">
			<td>&nbsp;</td>
			<td>&nbsp;</td>
		</tr>
		<tr class="line">
			<td>&nbsp;</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td colspan="2">
				<h2>Design Elements</h2>
			</td>
		</tr>
		<tr class="line">
			<td width="85%" class="align-center"><strong>Description</strong></td>
			<td class="align-center"><strong>Fee</strong></td>
		</tr>
		<tr class="line">
			<td>&nbsp;</td>
			<td>&nbsp;</td>
		</tr>
		<tr class="line">
			<td>&nbsp;</td>
			<td>&nbsp;</td>
		</tr>
		<tr class="line">
			<td>&nbsp;</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td colspan="2">
				<h2>Technical Elements</h2>
			</td>
		</tr>
		<tr class="line">
			<td width="85%" class="align-center"><strong>Description</strong></td>
			<td class="align-center"><strong>Fee</strong></td>
		</tr>
		<tr class="line">
			<td>&nbsp;</td>
			<td>&nbsp;</td>
		</tr>
		<tr class="line">
			<td>&nbsp;</td>
			<td>&nbsp;</td>
		</tr>
		<tr class="line">
			<td>&nbsp;</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td class="align-right" >Subtotal:</td>
			<td class="line">&nbsp;</td>
		</tr>
		<tr>
			<td class="align-right" >Tax:</td>
			<td class="line">&nbsp;</td>
		</tr>
		<tr>
			<td class="align-right" >Total:</td>
			<td class="line">&nbsp;</td>
		</tr>
	</table>
	
	<hr>
	<div class="align-center">PAGE BREAK</div>
	<hr>
	
	<div class="align-right">Project Proposal #[JOB NUMBER], [DATE]</div>
	<br>
	<h2>Terms & Conditions</h2>
	<p>All information in this proposal is subject the the following terms and conditions:</p>
	<em>[TERMS & CONDITIONS]</em>
	<br>
	<br>
	<em>-- INSTRUCTION: Choose an appropriate set of terms and conditions. I recommend using either the <a href="/contracts/full-terms-and-conditions">Full Terms & Conditions</a> or <a href="/contracts/condensed-terms-and-conditions">Condensed Terms & Conditions</a> found in this guide. --</em>
	
	<hr>
	<div class="align-center">PAGE BREAK</div>
	<hr>
	
	<div class="align-right">Project Proposal #[JOB NUMBER], [DATE]</div>
	<br>
	<h2>Signatures</h2>
	<p>Client's signature below authorizes designer to begin work. If the information and terms in this proposal are to Clients satisfaction and approval, kindly return a signed copy of this Project Proposal to Designer.</p>
	
	<p>
		<table width="100%">
			<tbody>
			<tr>
				<td>Designer Signature</td>
				<td>Print Designer Name</td>
				<td>Date</td>
			</tr>
			<tr class="line">
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
			</tr>
			<tbody>
			<tr>
				<td>Client Signature</td>
				<td>Print Client Name</td>
				<td>Date</td>
			</tr>
			<tr class="line">
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
			</tr>
			</tbody>
		</table>
	</p>
</div>

<br>
<h2>Example Project Proposal</h2>
<div class="form-box panel">
	<div class="align-right">Project Proposal #00009, April 25, 2012</div>
	<br>
	<br>
	<br>
	<br>
	<br>
	<h1>Designer Samus Samuelson</h1>
	<br>
	<h2>Meat Packing Business Website</h2>
	<br>
	<div class="row">
		<div class="six columns">
			<p>Prepared For:</p>
			<p>
			April 25, 2012<br>
			Beaufort Brimley<br>
			Owner<br>
			Fancy Meats Co.<br>
			123 Fake St.<br>
			Orange, CA 99999</p>
		</div>
		<div class="six columns">
			<p>Prepared By:</p>
			<p>
			Samus Samuelson<br>
			512 Main St.<br>
			Brea, CA 99999<br>
			Tel: 555-123-7890<br>
			Fax: 555-123-7891<br>
			email@example.com</p>
		</div>
	</div>
	
	<hr>
	<div class="align-center">PAGE BREAK</div>
	<hr>
	
	<div class="align-right">Project Proposal #00009, April 25, 2012</div>
	<br>
	<h2>Scope of Work</h2>
	<p>I will develop a completely custom website for Fancy Meats Co. The goal of this website is to provide Fancy Meats Co. with an online presence and to provide current and prospective customer vital information about Fancy Meats Co. business operations.</p>
	
	<p>The website will be a 5 page website consisting of the following pages: Home, About, Contact, Services, Profile. The home page will have text and pictures about Fancy Meat Co. The about page will give a company history. The contact page will have a form allowing customers to send an email to Fancy Meat Co. The services page will list services. The profile page will have a photo and profile for each of Fancy Meat Co.s 12 employees.</p>
	
	<p>The design process consists of four (4) phases: Concept, Design, Technical, and Testing. In the concept phase, I begin work by outlining the basic flow and gathering text and images for the website. In the design phase I create digital artwork for the outlined webpages and integrate the images and text. In the technical phase I enable the website server, domains and add interactive functionality like forms and emails. In the testing phase, I check the entire website to make sire it is operating as expected.</p>
	
	<p>This website will work in all Grade-A browsers. It will not be designed to operate on mobile devices.</p>
	
	<p>On the following pages, you will find a more detailed description of the project phases, timeline, due dates, deliverables and fees. You will also find a set of terms and conditions.</p>
		
	<hr>
	<div class="align-center">PAGE BREAK</div>
	<hr>
	
	<div class="align-right">Project Proposal #00009, April 25, 2012</div>
	<br>
	<h2>Work Plan & Milestones</h2>
	<p>The table below outlines the work process phases, milestones, due dates, deliverables and fees needed to complete this project. This four phase process begins at the concept phase where everything is planned, then the design phase where look and feel (artwork) is produced, next is the technical phase where design is given life, and finally the testing phase where everything is thoroughly tested and reviewed. This process is designed to ensure project efficiency and your complete satisfaction.</p>
		
	<table width="100%">
		<tr>
			<td colspan="5">
				<h2>Concept Phase</h2>
			</td>
		</tr>
		<tr class="line">
			<td class="align-center"><strong>Milestone</strong></td>
			<td class="align-center"><strong>Due Date</strong></td>
			<td class="align-center"><strong>Deliverables</strong></td>
			<td class="align-center"><strong>Fee</strong></td>
		</tr>
		<tr>
			<td>Work Begins</td>
			<td>When Received</td>
			<td>
				<ul>
					<li>Signed Contract</li>
				</ul>
			</td>
			<td>$1,245</td>
		</tr>
		<tr>
			<td>Information Architecture</td>
			<td>Week 1</td>
			<td>
				<ul>
					<li>Site map</li>
					<li>Info Layout</li>
				</ul>
			</td>
			<td>$1,245</td>
		</tr>
		<tr>
			<td colspan="4">
				<h2>Design Phase</h2>
			</td>
		</tr>
		<tr class="line">
			<td class="align-center"><strong>Milestone</strong></td>
			<td class="align-center"><strong>Due Date</strong></td>
			<td class="align-center"><strong>Deliverables</strong></td>
			<td class="align-center"><strong>Fee</strong></td>
		</tr>
		<tr>
			<td>Visual Design</td>
			<td>Week 3</td>
			<td>
				<ul>
					<li>Photoshop Design Template</li>
					<li>Contact Form Design</li>
					<li>Email Format</li>
				</ul>
			</td>
			<td>$1,245</td>
		</tr>
		<tr>
			<td>HTML/CSS Template</td>
			<td>Week 4</td>
			<td>
				<ul>
					<li>Design in html/css</li>
					<li>Contact Form in html/css</li>
					<li>Email plain text and html</li>
				</ul>
			</td>
			<td>$1,245</td>
		</tr>
		<tr>
			<td colspan="4">
				<h2>Technical Phase</h2>
			</td>
		</tr>
		<tr class="line">
			<td class="align-center"><strong>Milestone</strong></td>
			<td class="align-center"><strong>Due Date</strong></td>
			<td class="align-center"><strong>Deliverables</strong></td>
			<td class="align-center"><strong>Fee</strong></td>
		</tr>
		<tr>
			<td>Hosting Server</td>
			<td>Week 6</td>
			<td>
				<ul>
					<li>Server Setup</li>
					<li>Domain Name Setup</li>
				</ul>
			</td>
			<td>$1,245</td>
		</tr>
		<tr>
			<td>Programming</td>
			<td>Week 7</td>
			<td>
				<ul>
					<li>Form Javascript and PHP</li>
				</ul>
			</td>
			<td>$1,245</td>
		</tr>
		<tr>
			<td colspan="4">
				<h2>Test Phase</h2>
			</td>
		</tr>
		<tr class="line">
			<td class="align-center"><strong>Milestone</strong></td>
			<td class="align-center"><strong>Due Date</strong></td>
			<td class="align-center"><strong>Deliverables</strong></td>
			<td class="align-center"><strong>Fee</strong></td>
		</tr>
		<tr>
			<td>Initial Test</td>
			<td>Week 8</td>
			<td>
				<ul>
					<li>Upload website to server with test credentials</li>
					<li>Tested interface</li>
					<li>Tested form and email</li>
				</ul>
			</td>
			<td>$1,245</td>
		</tr>
		<tr>
			<td>Site Launch</td>
			<td>Week 9</td>
			<td>
				<ul>
					<li>Move site to live status</li>
				</ul>
			</td>
			<td>$1,245</td>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td class="align-right" >Total:</td>
			<td class="line">$9,960</td>
		</tr>
	</table>
		
	<hr>
	<div class="align-center">PAGE BREAK</div>
	<hr>
	
	<div class="align-right">Project Proposal #00009, April 25, 2012</div>
	<br>
	<h2>Detail</h2>
	<p>Thank you for this opportunity. If you have any questions or concerns regarding this project proposal or included terms & conditions, please don't hesitate to call 555-123-7890.</p>
	
	<table width="100%">
		<tr>
			<td colspan="2">
				<h2>Concept Elements</h2>
			</td>
		</tr>
		<tr class="line">
			<td width="85%" class="align-center"><strong>Description</strong></td>
			<td class="align-center"><strong>Fee</strong></td>
		</tr>
		<tr class="line">
			<td>Consulting</td>
			<td>$1,100</td>
		</tr>
		<tr class="line">
			<td>Research</td>
			<td>$500</td>
		</tr>
		<tr class="line">
			<td>Site Outline</td>
			<td>$900</td>
		</tr>
		<tr>
			<td colspan="2">
				<h2>Design Elements</h2>
			</td>
		</tr>
		<tr class="line">
			<td width="85%" class="align-center"><strong>Description</strong></td>
			<td class="align-center"><strong>Fee</strong></td>
		</tr>
		<tr class="line">
			<td>Site Template Design</td>
			<td>$2,200</td>
		</tr>
		<tr class="line">
			<td>Contact Form Design</td>
			<td>$1,500</td>
		</tr>
		<tr>
			<td colspan="2">
				<h2>Technical Elements</h2>
			</td>
		</tr>
		<tr class="line">
			<td width="85%" class="align-center"><strong>Description</strong></td>
			<td class="align-center"><strong>Fee</strong></td>
		</tr>
		<tr class="line">
			<td>Server & Domain Setup</td>
			<td>$750</td>
		</tr>
		<tr class="line">
			<td>Contact Form Functions</td>
			<td>$2,550</td>
		</tr>
		<tr class="line">
			<td>HTML/CSS Development</td>
			<td>$1,460</td>
		</tr>
		<tr>
			<td class="align-right" >Subtotal:</td>
			<td class="line">$9,960</td>
		</tr>
		<tr>
			<td class="align-right" >Tax:</td>
			<td class="line">$0</td>
		</tr>
		<tr>
			<td class="align-right" >Total:</td>
			<td class="line">$9,960</td>
		</tr>
	</table>
	
	<hr>
	<div class="align-center">PAGE BREAK</div>
	<hr>
	
	<div class="align-right">Project Proposal #00009, April 25, 2012</div>
	<br>
	<h2>Terms & Conditions</h2>
	<p>All information in this proposal is subject the the following terms and conditions:</p>
	<p>Include: <a href="/contracts/full-terms-and-conditions">Full Terms & Conditions</a> or <a href="/contracts/condensed-terms-and-conditions">Condensed Terms & Conditions</a>.</p>
	<br>
	
	<hr>
	<div class="align-center">PAGE BREAK</div>
	<hr>
	
	<div class="align-right">Project Proposal #00009, April 25, 2012</div>
	<br>
	<h2>Signatures</h2>
	<p>Client's signature below authorizes designer to begin work. If the information and terms in this proposal are to Clients satisfaction and approval, kindly return a signed copy of this Project Proposal to Designer.</p>
	
	<p>
		<table width="100%">
			<tbody>
			<tr>
				<td>Designer Signature</td>
				<td>Print Designer Name</td>
				<td>Date</td>
			</tr>
			<tr class="line">
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
			</tr>
			<tbody>
			<tr>
				<td>Client Signature</td>
				<td>Print Client Name</td>
				<td>Date</td>
			</tr>
			<tr class="line">
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
			</tr>
			</tbody>
		</table>
	</p>
</div>

<div class="panel">
	<div class="row">
		<div class="eight columns">
			<h2>Download the "Project Proposal" Pack</h2>
		</div>
		<div class="four columns align-right">
			<p></p>
			<a href="/downloads/project-proposal.zip" class="medium radius green button">Download</a>
		</div>
	</div>
</div>
{% endblock %}