{% extends 'contracts/layout.html' %}

{% block page_title %}Web Design Contracts for Freelancers - Sign That Contract{% endblock %}

{% block contracts_content %}
<h1>Get That Contract Signed.</h1>
<p>Often a designer will not be able to meet the client in person to sign the contract. Note that a contract must be signed by a person with the authority to do so. If you are dealing with a company, be sure to include the name of the company and the name and title of the individual with authority to sign the contract. It is a good idea to have your client sign the contract first. Send two copies of the contract to your client to sign and return to you. Then sign both copies and return one copy to the client. Because you are the last one to sign, you have the advantage of deciding whether or not to sign and make the contract binding.</p>

<p>Another option is to send signed copies of your contract to your client to sign and return. This puts you at a disadvantage by allowing the client to delay signing and potentially hold up your work on the project. If you send a pre-signed contract to a client you may revoke the contract any time before the client signs. You can also provide an expiration clause that gives the client a deadline in which to sign.</p>

<div class="align-right">
	<a href="/contracts/forms-introduction" class="medium radius white button">Next: Sample Form Contracts & Documents</a>
</div>
{% endblock %}