{% extends 'contracts/layout.html' %}

{% block page_title %}Web Design Contracts for Freelancers - Unique Contracts{% endblock %}

{% block contracts_content %}
<h1>Contracts: To Each His Own.</h1>
<p>This guide recognizes that not every client will appreciate a complete, well-drafted contract. A full set of terms and conditions over multiple pages can be daunting to both you or your client. The more informal approach of a letter signed by both parties can be used. Often called a  “Letter of Agreement”, this contract is a short description of the project, schedule, fees and relevant terms and conditions in an informal letter format on the designers letterhead. Terms and Conditions usually describe only essential requirements like copyright, right to revisions, payment terms, kill fees and miscellaneous legal terms. A more detailed description of drafting and using a Letter of Agreement appears later in this guide.</p>

<p>The contract most preferred by this guide is a Project Proposal with attached Terms and Conditions. A project proposal is a detailed project document that defines the scope of work, the design process, the schedule, and the total price. The designer provides a recommended course of action for the client to consider. Changes and negotiations to project specifications and terms and conditions are expected. The final goal is to have one comprehensive document that, when accompanied by an appropriate set of terms and conditions and signed by both parties, serves as your contract for the project. A more detailed description of drafting and using a Project Proposal with Terms and Conditions appears later in this guide.</p>

<p>No matter which form of contract you choose, Letter of Agreement or Project Proposal with Terms and Conditions, each can be tailored to the needs of you and your client. Format, length, detail and appropriate terms and conditions are up to you.</p>

<div class="align-right">
	<a href="/contracts/negotiation" class="medium radius white button">Next: 4. Negotiation: An Agreement, Not A Fight.</a>
</div>
{% endblock %}