{% extends 'contracts/layout.html' %}

{% block page_title %}Web Design Contracts for Freelancers - What is a Contract?{% endblock %}

{% block contracts_content %}
<h1>What is a Contract and Why Have One?</h1>
<h2>A Contract is a Business and Personal Relationship</h2>
<p>Before we get started, it is a good idea to define what a contract is to a business. A contract is a social document. It helps define a business relationship between you and your client. A business relationship is defined by things such as project scope, budgets, timelines, conditions and requirements, i.e. the terms of a contract. However what is on the page is just as important as what is off the page.</p>

<p>Also know that you have a personal relationship with your clients shown by goodwill and good business practices that are in everyone’s best interest. A successful project provides understanding and empathy towards client's needs and circumstances and designing to those needs – which is far more than anything that can be outlined in a contract.</p>

<p>Even the best contract cannot cover every last scenario, and nothing can substitute for good personal relationship with your client. A well crafted contract drawn from a mutually beneficial perspective can prevent problems by providing you and your client with needed reassurances and defined expectations. Mutual respect is the heart of a good personal relationship, business relationship, and a good contract.</p>

<p>In addition, having a contract also helps you to not get screwed. "F*uck You. Pay Me." to quote <a href="http://vimeo.com/22053820">Mike Monteiro's informative video</a>. A proper contract gives you something concrete and binding if you need to get tough with a client.</p>

<h2>A Contract is a Legal Relationship</h2>
<p>It is useful to ask: Legally, what is a contract? Simply, a contract is an agreement which creates a legally enforceable obligation between the parties. Each party must give something of value to the other party. This exchange is called consideration and can include money, rights, or anything of value. Contracts can take many forms: from 20 page tomes, to scribbles on a napkin, to oral contracts.</p>

<p>Though this guide heavily favors written contracts, oral contracts are worth mentioning. Oral contracts are legally binding contracts. Notice how the above description of a legal contract does not mention writing. However, not every contract can be oral. Contract that must take over a year to complete or a contract to transfer exclusive copyright must be in writing, to name a few.</p>

<p>Your oral contract may be valid, a written contract is always best. Even if you have the utmost trust in you client, and you’re their favorite designer, memories fail. The best minds can forget what terms were spoken or if a particular point was covered. Likewise, disputes are much more likely when a contract is oral rather than written.</p>

<p>If you are having trouble with a client, don’t give up just because your contract is an oral one. However, enforcing oral contracts is outside the scope of this guide. Talk to you attorney for advice.</p>

<h2>Who Uses Contracts?</h2>
<p>Not all designers use contracts. According to an AIGA poll only 48 percent of designers polled use a contract for every project. There is no practical reason why some form of contract is not being used for every job. This guideS view that there is no one-size-fits-all approach to writing web design contracts and documents, because designers don’t need a one-size-fits all approach. Those that use contracts for every project, the length and detail of the contract depends on the scale of the project. Large jobs get longer detailed contracts, and small jobs get a letter of agreement or an email stating key terms (scope, price, deadline, etc.) Nearly everyone agreed that a formal written agreement is valuable and absolutely essential in new client relationships.</p>

<div class="align-right">
	<a href="/contracts/uniqueness" class="medium radius white button">Next: 3. Contracts: To Each His Own.</a>
</div>
{% endblock %}