{% extends 'layout.html' %}

{% block content %}
<!-- container -->
<div class="container">
  <div class="row">
    <div class="three columns push-nine sidebar">
		<p></p>
		<h3>Introduction</h3>
		<ul>
			<li class="current"><a href="index.html">Overview</a></li>
			<li><a href="basics.html">Why Contracts are Essential</a></li>
			<li><a href="#">Legally Speaking, What are Contracts?</a></li>
			<li><a href="#">Contracts & Negotiation</a></li>
		</ul>
		<p></p>
		<p></p>
		<h3>Clauses & Explanations</h3>
		<ul>
			<li><a href="#">Boilerplate Clauses & Explanations</a></li>
			<li><a href="#">Web Design Clauses & Explanations</a></li>
			<li><a href="#">Copyright Clauses & Explanations</a></li>
		</ul>
		<p></p>
		<p></p>
		<h3>Sample Form Contracts & Documents</h3>
		<ul>
			<li><a href="#">Proposal</a></li>
			<li><a href="#">Letter of Agreement</a></li>
			<li><a href="#">Full Contract Terms & Conditions</a></li>
			<li><a href="#">Invoice</a></li>
			<li><a href="#">Past Due Reminder</a></li>
			<li><a href="#">Collection Letter</a></li>
		</ul>
		<p></p>
		<p></p>
		<h3>Annotated Contracts</h3>
		<ul>
			<li><a href="#">Proposal</a></li>
			<li><a href="#">Letter of Agreement</a></li>
			<li><a href="#">Full Contract Terms & Conditions</a></li>
		</ul>
		<p></p>
		<p></p>
		<h3>Case Studies & Example Documents</h3>
		<ul>
			<li><a href="#">Letter Agreement</a></li>
			<li><a href="#">Proposal Contract</a></li>
			<li><a href="#">Master Service Agreement</a></li>
		</ul>
		<p></p>
		<p></p>
		</h3><h3>Resources</h3>
		<ul>
			<li><a href="http://www.aiga.org/">American Institute of Graphic Arts (AIGA)</a></li>
			<li><a href="https://www.graphicartistsguild.org/
">Graphic Artists Guild (GAG)</a></li>
		</ul>
		<p></p>	
    </div>
    <div class="nine columns pull-three">
		CONTRACTS
	</div>
  </div>
</div>
<!-- container -->
{% endblock %}