{% extends 'layout.html' %}

{% block page_title %}Design Contracts for Freelance Web Designers - Home{% endblock %}

{% block content %}	
<!-- container -->
<div class="container">
  <div class="row">
    <div class="eight columns">
    	<div class="row">
    		<div class="three columns">
    			<img src="images/contract.png" alt="Design Contract" class="hide-on-phones" />
    		</div>
    		<div class="nine columns">
    			<h1>You know you need a contract.</h1>
    			<p>There are plenty of design contract templates online, but you are unsure how they'll hold up. You can draft one yourself, but you would probably like to be working instead. Everyone says "Get a Lawyer", but you figure it will cost too much. So you procrastinate… and get burned again.</p>
    			 			
				<h2>Don't Get Burned</h2>
				<p>Getting legal advice from a licensed attorney doesn't have to be hard. You can enjoy the benefits of working with a licensed attorney to create a freelance design contract that protects you, and without paying exorbitant fees.</p>

				<h2>A Different Practice</h2>
				<p>My practice is almost fully web-based. But don't think that I simply give you some mass-produced "form" contract. Your design contract should reflect your individual circumstances. I provide legal guidance and customize your contract to ensure your needs are met.</p>

				<h2>Easy Fee-zy</h2>
				<p>By being a web-based practice, I can provide you legal services without the costly overhead. Most times, I will quote you a flat fee based on the services you need. Your costs are set up front. And yes, the flat fee includes attorney-client communications so you can contact me with questions without worrying about skyrocketing fees.</p>
    		</div>
    	</div>
    </div>
    <div class="four columns">
		<div class="home-sidebar">
			<h3>DIY Design Contracts</h3>
			<p>Create your own design contract using the Contract Guide. Complete with downloadable contract templates, samples and explanations, it is enough get started.</p>
			<div style="text-align:right;"><a href="/contracts" class="nice small radius white button">Get Started &raquo;</a></div>
		</div>
    	<div class="home-sidebar">
			<h3>Fixed Fee Design Contracts</h3>
			<p>Have an Attorney draft your freelance design contract or review a contract you already have, for a low fixed fee.</p>
			<div style="text-align:right;"><a href="/services" class="nice small radius white button">Get Started &raquo;</a></div>
		</div>
    </div>
  </div>
</div>
<!-- container -->
{% endblock %}