{% extends 'layout.html' %}

{% block page_title %}Web Design Contracts for Freelancers - About{% endblock %}

{% block content %}
<!-- container -->
<div class="container">
	<div class="row">
		<div class="twelve columns">
		<h1>Let Me Introduce Myself…</h1>
<img src="images/profile.jpg" class="profile-img" alt="Web Design Contract Law - Jacob C. Myers" />
		
<p>I have been a profession web developer since 2005, and an amateur programmer before that. My first experience with computer programming was with BASIC on a Commodore 64 my father gave me. Today, I work mostly with back-end PHP, some front-end javascript and the usual HTML/CSS. In addition to this running this website and my practice, I am developing and maintaining a print ordering and production system for a printing company.</p>

<p>I've worked for traditional corporations, creative design firms and worked as a freelancer. I supported myself through law school by designing websites for small businesses. I know what issues and frustrations web designers and developers face because I have experienced them myself.</p>

<p>As both a web developer and an attorney, I understand the unique legal needs of freelance web designers and developers. I know that all web designer and developer benefit greatly from well-drafted contracts and business documents. I find great personal and professional satisfaction in helping fellow web designers and developers create contracts and business documents that provide legal protection, financial protection, and peace of mind.</p>

<p>I also understand the time and financial constraints many freelance web designers and developers face. So rather than having to schedule an appointment with me in my office during regular business hours, the Web-based nature of my practice allows my clients to communicate with using email, Skype, or telephone. Also, because I don’t have expensive Orange County office space to maintain, I can keep my overhead low and provide my clients high quality legal services at a reasonable price.</p>

<p>As for my academic qualifications, I earned my Bachelor of Science in Computer Science with a Minor in Mathematics from California State University, Fullerton. A few years later, this was followed by a law degree from Loyola Law School, Los Angeles. <a href="http://members.calbar.ca.gov/fal/Member/Detail/276151" target="_blank">I am licensed to practice law in California</a>.</p>
		</div>
	</div>
</div>
<!-- container -->
{% endblock %}