{% extends 'layout.html' %}

{% block page_title %}Web Design Contracts for Freelancers - Services and Price{% endblock %}

{% block content %}
	<!-- container -->
<div class="container">
  <div class="row">
    <div class="twelve columns">
    	<h1>Get Custom Documents For An Affordable Flat Fee</h1>
    	<dl class="tabs contained">
  			<dd><a href="#pricing" class="active">Pricing</a></dd>
  			<dd><a href="#why-flat-fees">Why Flat Fees</a></dd>
  			<dd><a href="#how-it-works">How It Works</a></dd>
		</dl>
		<ul class="nice tabs-content contained">
  			<li class="active" id="pricingTab">
  				<div class="row hide-on-phones">
  					<div class="three columns"><strong>Task</strong></div>
					<div class="two columns"><strong>Price</strong></div>
  					<div class="five columns"><strong>Included Services</strong></div>
  					 <div class="two columns">&nbsp;</div>
	  			</div>
	  			<hr>
  				<div class="row">
  					<div class="three columns"><a href="/services/web-design-contract-drafting">Contract Drafting</a></div>
					<div class="two columns">$750</div>
  					<div class="five columns">
  						<ul class="service-list">
  					 		<li>Assessment of Current Business Practices</li>
  					 		<li>Custom Contract with Revisions</li>
  					 		<li>Legal Advice About Use of Contract</li>
  					 	</ul>
  					 </div>
  					 <div class="two columns" style="text-align:right;">
  					 	<a href="/services/web-design-contract-drafting" class="white nice button radius small">Learn More &raquo;</a>
  					 </div>
	  			</div>
	  			<hr>
	  			<div class="row">
  					<div class="three columns"><a href="/services/web-design-contract-review">Contract Review</a></div>
					<div class="two columns">
						<ul>
							<li>$250 <small>(1-3 Pages)</small></li>
							<li>$550 <small>(4-10 Pages)</small></li>
							<li>$850 <small>(11+ Pages)</small></li>
						</ul>
					</div>
  					<div class="five columns">
  						<ul class="service-list">
  					 		<li>Comprehensive Review of the Contract</li>
  					 		<li>Letter from Attorney With Notes on Contract</li>
  					 		<li>Recommendation of Alternative Provisions</li>
  					 	</ul>
  					 </div>
  					 <div class="two columns" style="text-align:right;">
  					 	<a href="/services/web-design-contract-review" class="white nice button radius small">Learn More &raquo;</a>
  					 </div>
	  			</div>
	  			<hr>
  			</li>
  			<li id="why-flat-feesTab">
  				<h2>Why Use Flat Fees?</h2>
  				<p>Every freelance designer needs legal assistance of some kind, but the cost of legal fees can quickly get out of hand. If you simply need a contract drafted or reviewed, it doesn’t make sense to find an attorney, negotiate a rate, pay a retainer and then hope the billable hours don’t pile too high. Like so many other freelance designers, you'll go online and try to piece together a design contract without the help of attorney.</p>

				<p>I understand the needs of freelance designers, and that’s why I perform contract drafting and contract review for an affordable flat rate. For one low flat fee, I’ll give you the legal advice or the legal document you need.</p>
				
				<hr>
				
				<h2>Advantages of Flat Fees v. Traditional Fees:</h2>
				<ul class="advantage-list">
					<li>You Know Up-Front How Much Your Costs Will Be</li>
					<li>No Retainer Fees</li>
					<li>No Surprise Costs like Staff, Research, Copies or Calls</li>
					<li>Faster Turn-Around Time</li>
				</ul>
				
				<h2>Advantages of Flat Fees v. Do-It-Yourself or Self-Help Services:</h2>
				<ul class="advantage-list">
					<li>Get Legal Advice From an Attorney</li>
					<li>All Documents are Custom Made for Your Individual Situation</li>
					<li>I am Licensed In California and am Bound by Ethics and Malpractice Rules</li>
				</ul>
				
  			</li>
  			<li id="how-it-worksTab">
  				<h2>How It Works</h2>
				<p>Flat Fee Services are a simple, secure way to quickly obtain quality legal advice for contract and document drafting and advice - at a predetermined, flat fee. Delivery time for Flat Fee Services is about 5 business days. (Telephone contact and face-to-face meetings are available when necessary).</p>

				<h2>To use My Legal Service:</h2>
				<ul class="use-list">
					<li>Choose a service from the <a href="/services">Pricing Page</a> and click on the "Start Now" button. You will be taken to a page describing the service in detail and a short form to request the service.</li>
					<li>Complete the form and hit "Send". After I receive the form, you will be contacted by email which includes a more detailed questionnaire, my service agreement, and further instructions.</li>
					<li>No Fees are charged until after you agree to pay for services.</li>
				</ul>

				<p>You will work with me online through e-mail, or off-line by telephone. If document drafting is involved, the drafts will be sent to you for your initial review. Any changes you want will then be made and the final documents, complete with execution instructions, will be e-mailed to you. Payment will be made through Paypal.</p>
				
				<hr>
  			</li>
		</ul>
    </div>
  </div>
</div>
<!-- container -->
{% endblock %}