{% extends 'contracts/layout.html' %}

{% block page_title %}Design Contracts for Freelance Web Designers - Contract Templates and Samples{% endblock %}

{% block contracts_content %}
<h1>Design Contract Guide for Freelance Web Designers: <small>"How-to's" for design contracts, contract templates and sample contracts.</small></h1>
<p>Good business practice is absolutely necessary for success in any business, including freelance web design. This guide will walk you through the best practices when negotiating and drafting your freelance design contract, including project proposals, invoicing and collecting delinquent payment. The guide will continue with sample contracts, templates and documents, and finish with concrete examples of how to apply the provided forms in a real-life situation.</p>

<p>This guide does not take the position of a one-size-fits-all approach to writing freelance design contracts and documents. However, this guide does assume that the order of events to reaching the contract stage for each client is similar. The basic theory is that a client or potential client will contact you and provide details of a project they need completed, then you will provide a price quote, time estimate and any terms & conditions, both of you will agree, you’ll do your work and get paid. The events may be the same, but the difference is in the detail of the documents you create for the client.</p>

<div class="align-right">
	<a href="/contracts/what-and-why" class="medium radius white button">Next: 2. What Is A Contract And Why Have One?</a>
</div>

<br>
<hr>

<h2>Just Want the Contracts?</h2>
<p>Jump right into this guides design contract templates and samples.</p>
<div class="align-right">
	<a href="/contracts/forms-introduction" class="medium radius white button" title="Freelance Contract Templates and Samples">Web Design Contract Templates and Samples &raquo;</a>
</div>
{% endblock %}
